# Global Rules
.DS_Store
Thumbs.db

# Unity Framework
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# .NET Backend
backend_api/bin/
backend_api/obj/
backend_api/.vs/
backend_api/appsettings.Development.json

# Node/React Frontend
frontend_web/node_modules/
frontend_web/dist/
frontend_web/.env.local
frontend_web/.env.development.local
